
## <summary>policy for endlesscoin</summary>


########################################
## <summary>
##	Transition to endlesscoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`endlesscoin_domtrans',`
	gen_require(`
		type endlesscoin_t, endlesscoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, endlesscoin_exec_t, endlesscoin_t)
')


########################################
## <summary>
##	Execute endlesscoin server in the endlesscoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`endlesscoin_initrc_domtrans',`
	gen_require(`
		type endlesscoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, endlesscoin_initrc_exec_t)
')


########################################
## <summary>
##	Search endlesscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`endlesscoin_search_lib',`
	gen_require(`
		type endlesscoin_var_lib_t;
	')

	allow $1 endlesscoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read endlesscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`endlesscoin_read_lib_files',`
	gen_require(`
		type endlesscoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, endlesscoin_var_lib_t, endlesscoin_var_lib_t)
')

########################################
## <summary>
##	Manage endlesscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`endlesscoin_manage_lib_files',`
	gen_require(`
		type endlesscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, endlesscoin_var_lib_t, endlesscoin_var_lib_t)
')

########################################
## <summary>
##	Manage endlesscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`endlesscoin_manage_lib_dirs',`
	gen_require(`
		type endlesscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, endlesscoin_var_lib_t, endlesscoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a endlesscoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`endlesscoin_admin',`
	gen_require(`
		type endlesscoin_t;
		type endlesscoin_initrc_exec_t;
		type endlesscoin_var_lib_t;
	')

	allow $1 endlesscoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, endlesscoin_t)

	endlesscoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 endlesscoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, endlesscoin_var_lib_t)

')

